body {
	width: 920px;
	background-color: rgb(226, 218, 213);
	margin: 0;
	padding: 0;
	font-family: Arial;
}

h1, p {
	padding: 0;
	margin: 0;
	line-height: 1em;
}

.tagline {
	font-size: 40%;
	font-style: italic;
}

.playerPic {
	float: left;
	width: 150px;
	height: 600px;
	background-color: white;
	border: 3px solid white;
}

.playerPic.active{
	border: 3px solid red;
}

#player0 {
	background-image: url(../img/Xmas_Raptor_by_Mystra_Inc.jpg);
	background-size: 483px;
	background-repeat: no-repeat;
	background-position: 25% 99%;
}

#player1 {
	background-image: url(../img/humbug.jpg);
	background-size: 450px;
	background-repeat: no-repeat;
	background-position: 50% 20%;
}

.turnIndicator {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 200%;
}

#board {
	margin-top: 3px;
	position: relative;
	background-color: rgb(53, 48, 177);
	float: left;
	width: 600px;
	height: 600px;
}

.score {
	margin-top: 63px;
	padding: 0 1em;
	font-weight: bold;
	background-color: white;
	border: 1px solid gray;
}

#grid {
	height: 100%;
	width: 100%;
	background-image: url(../img/grid.png);
	background-size: 600px 600px;
	background-repeat: no-repeat;
}

.piece {
	width: 64px;
	height: 64px;
	background-size: cover;
	position: absolute;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.piece.active {
	opacity: 0.7;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}

.piece.row0 { top: 11px; }
.piece.row1 { top: 80px; }
.piece.row2 { top: 156px; }
.piece.row3 { top: 230px; }
.piece.row4 { top: 303px; }
.piece.row5 { top: 378px; }
.piece.row6 { top: 452px; }
.piece.row7 { top: 525px; }

.piece.col0 { left: 11px; }
.piece.col1 { left: 80px; }
.piece.col2 { left: 156px; }
.piece.col3 { left: 230px; }
.piece.col4 { left: 303px; }
.piece.col5 { left: 378px; }
.piece.col6 { left: 452px; }
.piece.col7 { left: 525px; }
